@import url('https://fonts.googleapis.com/css2?family=Eagle+Lake&display=swap');
/**********************/
body {
    margin: 0; 
    font-family: 'Gothic A1', sans-serif; 
    height: 100vh; 
    font-size: 0.80em;
}

.card-wrapper {
    display: flex; 
    height: 100vh; 
  
}

.card-container {
    flex: 1; 
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.gothic-section {
    background-color: #2d2d2d; 
    color: #f0f0f0; 
}

.presentable-section {
    background-color: #f8f9fa;
    color: #333; 
    font-family: "Eagle Lake", serif;
    font-size: 0.8em;
}

.card {
    height: 600px; 
    width: 100%; 
    border-radius: 15px; 
    position: relative; 
    overflow: hidden; 
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.9); 
    transition: transform 0.3s; 
    height: 600px;
    width: 400px;
}

.card:hover {
    transform: translateY(-10px); 
}

.gothic-card {
    background-color: transparent; 
}

.card-image {
    height: 379px; 
    width: 100%; 
    object-fit: cover;
    border-top-left-radius: 15px; 
    border-top-right-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7); 
}

.overlay {
    position: absolute; 
    top: 0; 
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(135deg, rgba(7, 7, 7, 0.7), rgba(0, 0, 0, 0.5));
    opacity: 0.8;
    transition: opacity 0.3s; 
}

.gothic-card:hover .overlay {
    opacity: 0.2; 
}

.card-data {
    list-style: none;
    padding: 16px; 
    color: #855353; 
    position: relative; 
    z-index: 2; 
}

.card-data-titles {
    color: #3cc230; 
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8); 
}

.card-data-alias {
    color: #aab60c; 
}

.card-button {
    background-color: #5c2e2e; 
    color: white;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px 15px; 
    border: 2px solid #444; 
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; 
}

.card-button:hover {
    background-color: #ffcc00; 
    color: #5c2e2e; 
}


.overlay1 {
    position: absolute; 
    top: 0; 
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(135deg, rgba(206, 192, 192, 0.7), rgba(185, 169, 169, 0.5)); 
    opacity: 0.8; 
    transition: opacity 0.3s; 
}

.presentable-card:hover .overlay1 {
    opacity: 0.2; 
}

.presentable-card {
    background-color: #fff; 
    color: #333; 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5); 
    height: 600px;
}

.presentable-card .card-data-titles {
    color: #007bff; 
}

.presentable-card .card-data-alias {
    color: #555; 
}

figcaption ul li {
    margin-bottom: 10px; 
}
